@import 'variables';

@mixin inter-font($size, $color){
    font-family: $font-family-inter;
    font-size: $size;
    color: $color;
}

@mixin opensans-font($size, $color){
    font-family: $font-family-opensans;
    font-size: $size;
    color: $color;
}

@mixin multi-line-ellipsis($line-count: 3) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-count;
    white-space: normal; // Это позволит тексту переноситься на новые строки
    text-overflow: ellipsis;
    word-wrap: break-word;
  }