@import 'variables';
@import 'mixins';

:root {
    margin: 0;
    padding: 0;
    @include inter-font(16px, #000000);
}

[contenteditable="true"] {
    &:focus {
        outline: none;
    }
    &:empty:not(:focus):before {
        content: attr(data-placeholder);
        color: grey;
    }
}

  /* Customizes the scrollbar for elements other than html/body */
  ::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Color and transparency of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
  /* Optional: Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Darker on hover */
  }