@import '../../mixins.scss';

.card {
    overflow: visible !important;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #AAAAAA;
    border-radius: 8px;
    padding: 10px;
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
  }

.editable {
    overflow: auto;
    max-height: fit-content;
    min-width: 400px;
  }
  
.card-title {
    margin: 0;
    @include inter-font(14px, #000000);
    font-weight:600;
  }

.card-tasks {
    display: flex;
    overflow: auto;
    flex-direction: column;
    gap:10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

.action-container {
  position: absolute;
  display: flex;
  gap: 10px;
  padding: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}