.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .card-title {
    margin: 0 0 10px 0;
    min-width: 20px;
  }

  .card-tasks{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }