@import '../../mixins.scss';

.task {
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-title {
  @include inter-font(14px, #000000);
  overflow: auto;
  &:not(.editable) {
    @include multi-line-ellipsis(3);
  }
}

.task-container{
  display: flex;
  align-items: flex-start;
  gap: 4px;
  overflow: auto;
  width: fit-content;
}

.task-completed {
    text-decoration: line-through;
    color: #6c757d;
  }

  input[type="checkbox"]:checked {
    filter: grayscale(100%) brightness(60%);
  }