@import '../../mixins.scss';

.input-container {
    display: flex;
    gap: 7px;
    border-top: 1px solid #CCCCCC;
    padding: 8px 0;
    align-items: center;
}

.task-input {
    @include inter-font(14px, #000000);
}