@import '../../mixins.scss';

.input-container {
    display: flex;
    gap: 7px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 40px;
}

.input-container:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.task-input {
    overflow: auto;
    padding: 8px;
    @include inter-font(14px, #000000);
}